PORT=5000
MONGO_URI="mongodb+srv://mantuforbusiness_db_user:JLzQue6pkm01GkPf@cluster0.ma7zyxy.mongodb.net/daily-collection?retryWrites=true&w=majority"
JWT_SECRET=3c2c25896aec470b8274f126765f651a74171d2bc2c922cd8e1b9f1322767121
JWT_EXPIRES_IN=7d
